/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

main {
	width: 80%;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

h2 {
	font-family: "Syne";
	font-weight: 700;
	font-size: 30px;
	color: #1d6154;
}

body {
	line-height: 1;
	background-color: #fefef8;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1140px;
	max-height: 1024px;
	margin: auto;
	font-family: "Work Sans";
	font-size: 14px;
}

/** end reset css**/
/*********header**********/
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
	width: 90%;
}

header h1 {
	display: flex;
	flex-direction: column;
	font-family: "Syne";
	font-size: 22px;
	font-weight: 800;
	color: #b1663c;
}

header h1 span {
	font-family: "Work Sans";
	font-size: 10px;
	letter-spacing: 1.6px;
}

header nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

header nav ul li {
	padding: 0 10px;
	font-size: 19px;
}

header nav ul li img {
	height: 20px;
}

header nav ul li a {
	text-decoration: none;
	color: black;
}

.current-page {
	font-weight: bold;
}

header nav ul li a:hover {
	color: #b1663c;
}

header nav ul li:hover {
	color: #b1663c;
}

/**********bandeau mode edition**********/
.admin-edit {
	display: none;
	justify-content: center;
	align-items: center;
	background-color: black;
	height: 59px;
	width: 1537px;


}

.admin-edit p {
	color: white;

}


/****section contact formulaire********/
#contact {
	width: 40%;
	margin: auto;
}

#contact>* {
	text-align: center;
}

#contact .title {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	width: 379px;
}

#contact form input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact form label {
	margin: 2em 0 1em 0;
	font-weight: 700;
}

#contact form textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact form input[type=submit] {
	font-family: "Syne";
	font-weight: 700;
	color: white;
	background-color: #1d6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
}

/**********introduction**********/
section {
	margin: 150px 0;
}

.title {
	font-family: "Syne";
	font-weight: 700;
	font-size: 30px;
	color: #1d6154;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1;
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}

#introduction h2 {
	margin-bottom: 16px;
}

#introduction p {
	margin-bottom: 8px;
}

/**********portfolio**********/

/*Préparation des filtres*/
#portfolio h2 {
	text-align: center;
	margin-bottom: 16px;
}

/***classe pour filtre****/
#portfolio .container-filters {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	height: 100px;
}

#portfolio .container-filters .buttons-filters {
	background-color: #fefef8;
	padding: 9px 20px;
	border: 1px solid #1d6154;
	border-radius: 25px;
	color: #1d6154;
	font-weight: 700;
	font-size: 19px;
	font-family: "Syne";
	cursor: pointer;
}

#portfolio .container-filters .active {
	background-color: #1d6154;
	color: white;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

.div-edit {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 5em;
	gap: 10px;

}

.div-edit span {
	cursor: pointer;
	margin-left: 20px;
	margin-bottom: 10px;
}

/********modale 1********/
#container-modal {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background-color: white;
	border-radius: 10px;
	width: 590px;
	height: 680px;
	position: relative;
}

.modal .fa-xmark {
	font-size: 24px;
	cursor: pointer;
	display: flex;
	position: absolute;
	left: 535px;
	top: 30px;
}

.modal-gallery {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 30px;
	position: absolute;
	top: 130px;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 30%;
	margin-bottom: 180px;
}

.modal figure {
	width: 65%;
	height: 30%;
	position: relative;
}

.modal span .fa-trash-can {
	display: block;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 5px;
	left: 53px;
	height: 18px;
	width: 18px;
	border-radius: 2px;
	background-color: black;
}

.fa-trash-can {
	color: white;
	font-size: 0.6rem;
	cursor: pointer;

}



.modal img {
	width: 76.86px;
	height: 102.57px;
}

.modal-title {
	margin-top: -120px;
	color: black;
	width: 173px;
	height: 30px;
	font-size: 26px;
	font-family: "Work Sans";
	font-weight: 400;

	line-height: 30.5px;
	position: absolute;
	top: 25%;
}

.modal .modal-gallery-button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120px;
	width: 472px;
	border-top: 1px solid gray;
	position: absolute;
	bottom: 0px;
	top: 575px;
}

.modal-button {
	position: absolute;
	bottom: 40px;
}

.modal button {
	background-color: #1d6154;
	padding: 9px 50px;
	border-radius: 25px;
	color: white;
	font-weight: 700;
	font-size: 1rem;
	font-family: Syne;
	cursor: pointer;
}

.modal button:hover {
	background-color: white;
	border: 1px solid #1d6154;
	background-color: #1d6154;

}

/********modale 2********/
.modalAddWorks {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background-color: white;
	border-radius: 10px;
	width: 590px;
	height: 680px;
	position: relative;
}

.modalAddWorks .arrow-left {
	position: absolute;
	top: 30px;
	left: 15px;
}

.modalAddWorks .arrow-left .fa-arrow-left {
	font-size: 1.5rem;
	cursor: pointer;
}

.modalAddWorks .xmark {
	font-size: 24px;
	cursor: pointer;
	display: flex;
	position: absolute;
	left: 535px;
	top: 30px;
}

.modalAddWorks .fa-xmark {
	font-size: 1.5rem;
	cursor: pointer;
}

.modalAddWorks h3 {
	margin-top: 60px;
	font-weight: bold;
	font-size: 1.5rem;
}

.modalAddWorks form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
	height: 80%;
	width: 80%;
	gap: 20px;
	bottom: 70px;
}

.modalAddWorks form .containerAddPhoto {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 30%;
	background-color: #e8f1f6;
	gap: 10px;

}

.modalAddWorks form .containerAddPhoto img {
	display: none;
	max-width: 100%;
	height: 100%;
	z-index: 2;
	position: absolute;

}

.modalAddWorks form .containerAddPhoto .fa-image {
	font-size: 4rem;
	color: #b9c5cc;
}

.modalAddWorks form .containerAddPhoto .labelFile {
	display: block;
	display: flex;
	align-items: center;
	background-color: #b9c5cc;
	border-radius: 15px;
	height: 30px;
	padding: 0 20px;
	color: #306685;
	cursor: pointer;
}

.modalAddWorks form .containerAddPhoto input {
	opacity: 0;
}

.modalAddWorks form #title {
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	height: 8%;
}

.modalAddWorks form #categoryInput {
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	height: 8%;
}

.modalAddWorks form .container-button-add-work {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 77.2px;
	width: 472px;
	border-top: 1px solid gray;
	position: absolute;
	bottom: -60px;
}

.modalAddWorks form .container-button-add-work .buttonValidForm {
	background-color: #1d6154;
	padding: 9px 50px;
	border-radius: 25px;
	color: white;
	font-weight: 700;
	font-size: 1rem;
	font-family: Syne;
	cursor: pointer;
}

.modalAddWorks form .container-button-add-work .add-work-button {
	position: absolute;
	top: 48px;
}

.modalAddWorks form .container-button-add-work .button-add-work {
	background-color: #a7a7a7a7;
	padding: 9px 50px;
	border-radius: 25px;
	color: white;
	font-weight: 700;
	font-size: 1rem;
	font-family: Syne;
	width: 250px;
	cursor: pointer;
}

.modalAddWorks form .container-button-add-work .button-add-work:hover {
	background-color: white;
	border: 1px solid #1d6154;
	color: #1d6154;
}

/********footer********/
footer {
	display: flex;
	justify-content: flex-end;
	background-color: #ffffff;
	width: 1440px;
	height: 60px;
	margin-left: 200px;
}

nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}