/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	background-color: #fefef8;
	display: flex;
	flex-direction: column;
	align-items: center;
}

main {
	width: 80%;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

h2 {
	font-family: "Syne";
	font-weight: 700;
	font-size: 30px;
	color: #1d6154;
}

body {
	max-width: 1140px;
	max-height: 1024px;
	margin: auto;
	font-family: "Work Sans";
	font-size: 14px;
}

/** end reset css**/
/*********header**********/
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
	width: 90%;
}

header h1 {
	display: flex;
	flex-direction: column;
	font-family: "Syne";
	font-size: 22px;
	font-weight: 800;
	color: #b1663c;
}

header h1 span {
	font-family: "Work Sans";
	font-size: 10px;
	letter-spacing: 1.6px;
}

header nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

header nav ul li {
	padding: 0 10px;
	font-size: 19px;
}

header nav ul li img {
	height: 20px;
}

header nav ul li a {
	text-decoration: none;
	color: black;
}

.current-page {
	font-weight: bold;
}

header nav ul li a:hover {
	color: #b1663c;
}

header nav ul li:hover {
	color: #b1663c;
}

/**********bandeau mode edition**********/
.admin-edit {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	height: 59px;
	width: 1440px;
}

.admin-edit p {
	color: white;
}


/****************************************/

/**********introduction**********/
section {
	margin: 150px 0;
}

.title {
	font-family: "Syne";
	font-weight: 700;
	font-size: 30px;
	color: #1d6154;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1;
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}

#introduction h2 {
	margin-bottom: 16px;
}

#introduction p {
	margin-bottom: 8px;
}

/**********portfolio**********/

/*Préparation des filtres*/
#portfolio h2 {
	text-align: center;
	margin-bottom: 16px;
}

/***classe pour filtre****/
#portfolio .container-filters {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	height: 100px;
}

#portfolio .container-filters .buttons-filters {
	background-color: #fefef8;
	padding: 9px 20px;
	border: 1px solid #1d6154;
	border-radius: 25px;
	color: #1d6154;
	font-weight: 700;
	font-size: 19px;
	font-family: "Syne";
	cursor: pointer;
}

#portfolio .container-filters .active {
	background-color: #1d6154;
	color: white;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

.div-edit {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 5em;
	gap: 10px;
}

.div-edit span {
	cursor: pointer;
}


/**********formulaire contact**********/

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;
}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 19px;
	border: none;
	box-shadow: 4px 4px 14px 4px #00000017;
	cursor: pointer;
}

#contact label {
	margin: 32px 0 16px 0;
}

#contact textarea {
	border: none;
	box-shadow: 4px 4px 14px 4px #00000017;
}

.p-wrong {
	color: red;
	font: inherit;
	padding-top: 20px;
}

input[type="submit"] {
	font-family: "Syne";
	font-weight: 700;
	color: white;
	background-color: #1d6154;
	margin: 32px auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

/**********footer**********/

footer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: #ffffff;
	width: 100%;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

/********modale********/
.modal-containeur {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 630px;
	height: 688px;
	border-radius: 10px;
	top: 660px;
	left: 405px;
	background-color: red;
}