html {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background-color: #FFFEF8;

}

body {
    max-width: 1140px;
    margin: auto;
    font-family: 'Work Sans';
    font-size: 14px;
    line-height: 1;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 50px 0
}

h1 {
    display: flex;
    flex-direction: column;
    font-family: 'Syne';
    font-size: 22px;
    font-weight: 800;
    padding-top: 10px;
    padding-left: 50px;
    color: #B1663C
}

h1>span {
    font-family: 'Work Sans';
    font-size: 10px;
    letter-spacing: 0.1em;
    ;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-right: 25px;
}

nav li {
    padding-top: 10px;
    padding-left: 50px;
    font-size: 1.2em;
}

.insta {
    font-size: 12px;
}

.main-login {
    min-height: 650px;
    margin-top: 90px;

}

.section-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 36px;
    font-family: "Syne";
    font-weight: 700;
    font-size: 30px;
    color: #1d6154;
}


.section-login form {
    text-align: left;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.section-login input {
    height: 50px;
    border: none;
    box-shadow: 4px 4px 14px 6px rgba(0, 0, 0, 0.09);
}

.input-log {
    font-size: 2.2em;
}

.button-login {
    height: 50px;
    font-size: 1.2em;
}

.section-login label {
    margin: 2em 20em 1em 0em;


}


input[type="submit"] {
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    margin: 3em auto;
    width: 180px;
    height: 36px;
    text-align: center;
    border-radius: 60px;
}

.footer {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 10px;
    padding-right: 50px;
    font-size: 1em;
}